// 页面变量
//login
$login-bg-color: #364150;
$login-content-bg-color: #eceef1;
$login-content-h3-color: #4db3a5;
$login-content-h4-color: #555;
$login-content-hint-color: #999;
$login-content-input-bg-color: #dde3ec;
$login-content-input-color: #8290a3;
$login-content-input-border-active-color: #c3ccda;
$login-options-color:#7d91aa;
$login-create-account-bg-color:#6c7a8d;
$login-create-account-color:#c3cedd;