//page ::content
.page-title {
    padding: 0;
    font-size: 28px;
    letter-spacing: -1px;
    display: block;
    color: #666;
    margin: 0 0 15px 0;
    font-weight: 300;
    font-family: $font-family-primary;
    small {
        font-size: 14px;
        letter-spacing: 0;
        font-weight: 300;
        color: #888;
    }
    .page-container-bg-solid & {
        color: #666;
        margin-bottom: 20px;
        margin-top: 20px;
        small {
            color: #666;
        }
    }
}

// breadcrumb
.page-bar {
    padding: 0;
    background-color: #f7f7f7;
    margin-bottom: 25px;
    border-radius: $general-border-radius;
    @include clearfix();
    .page-breadcrumb {
        float: left;
        padding: 8px;
        margin: 0;
        list-style: none;
        >li {
            display: inline-block;
            >a,
            >span {
                color: #888;
                font-size: 14px;
                text-shadow: none;
            }
            >i {
                color: #aaa;
                font-size: 14px;
                text-shadow: none;
            }
            >i[class^="fa-"],
            >i[class*="fa-"] {
                color: darken(#999, 10%);
            }
        }
    }
    .page-toolbar {
        float: right;
        padding: 0;
        .btn-fit-height {
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 0 $general-border-radius $general-border-radius 0;
        }
    }
    .page-container-bg-solid & {
        position: relative;
        padding: 0 20px;
        background-color: #fff;
        margin: -25px -20px 0 -20px;
        .page-breadcrumb {
            padding: 11px 0;
            >li {
                >a,
                >span {
                    color: #888;
                }
                >i {
                    color: #aaa;
                }
                >i[class^="fa-"],
                >i[class*="fa-"] {
                    color: darken( #999, 5%)
                }
            }
        }
        .page-toolbar {
            padding: 6px 0;
            .btn {
                margin-top: -2px;
                &.btn-sm {
                    margin-top: 0;
                }
            }
        }
    }
}

// page content
.page-content {
    margin-top: 0;
    padding: 0;
    background-color: #fff;
    .page-container-bg-solid & {
        background: $page-content-solid-bg-color;
    }
    .page-full-width & {
        margin-left: 0!important;
    }
}

//>992px
@media (min-width:$screen-md-min) {
    //page content:
    .page-content-wrapper {
        float: left;
        width: 100%;
        .page-content {
            margin-left: $sidebar-width;
            margin-top: 0;
            min-height: $page-content-min-height;
            padding: 25px 20px 10px 20px;
            &.no-min-height {
                min-height: auto;
            }
            .page-sidebar-closed & {
                margin-left: $sidebar-collapsed-width !important;
            }
            .page-sidebar-closed.page-sidebar-hide & {
                margin-left: 0 !important;
            }
            .page-full-width & {
                margin-left: 0px !important;
            }
        }
    }
}

//<=991
@media (max-width:$screen-sm-max) {
    .page-container-bg-solid {
        .page-bar {
            margin-top: -20px;
        }
    }
    .page-content-wrapper {
        .page-content {
            margin: 0 !important;
            padding: 20px !important;
            min-height: 280px;
        }
    }
}

//<=767
@media (max-width:$screen-xs-max) {
    .page-content-wrapper {
        .page-content {
            padding: 20px 10px 10px 10px !important;
            overflow: hidden;
            .page-title {
                margin-bottom: 20px;
                font-size: 18px;
                small {
                    font-size: 13px;
                    padding-top: 3px;
                }
            }
        }
    }
}

@media (max-width: $screen-xs-min) {
    /* 480px */
    .page-content-wrapper {
        .page-content {
            .page-title {
                small {
                    display: block;
                    clear: both;
                }
            }
        }
    }
}