// 结构
.page-header.navbar {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0;
    box-shadow: none;
    min-height: $header-height;
    height: $header-height;
    filter: none;
    background-image: none;
    border-radius: 0;
    /* header fixed*/
    &.navbar-fixed-top {
        z-index: $zindex-header-fixed;
    }
    &.navbar-static-top {
        z-index: $zindex-header-static;
    }
    // header logo
    .page-logo {
        float: left;
        display: block;
        width: $sidebar-logo-container-width;
        height: $header-height;
        padding-left: 20px;
        padding-right: 20px;
        .page-sidebar-closed.page-sidebar-closed-hide-logo & {
            padding: 0;
        }
        >.logo-image,
        >a {
            display: inline-block;
        }
        .logo-default {
            // margin: $header-logo-margin;
            height: $header-height;
        }
    }
    //top-menu
    .top-menu {
        margin: 0;
        padding: 0;
        float: right;
        .navbar-nav {
            padding: 0;
            margin-right: 20px;
            display: block;
            >li.dropdown {
                margin: 0;
                padding: 0 4px;
                height: $header-height;
                display: inline-block;
                &:last-child {
                    padding-right: 0;
                }
                >.dropdown-toggle {
                    margin: 0;
                    padding: $header-top-menu-general-item-padding;
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    // icon
                    >i {
                        font-size: $header-top-menu-icon-font-size;
                        &.glyphicon {
                            font-size: $header-top-menu-icon-font-size - 1;
                        }
                    }
                    >.badge {
                        font-family: $font-family-primary;
                        position: absolute;
                        top: $header-top-menu-genneral-item-badge-top;
                        right: 20px;
                        font-weight: 300;
                        padding: 3px 6px;
                    }
                    &:focus {
                        background: none;
                    }
                }
                .dropdown-menu {
                    // margin-top: 3px;
                    border-radius: 4px;
                    padding: 0;
                    &:before {
                        position: absolute;
                        top: -7px;
                        right: 9px;
                        display: inline-block!important;
                        border-right: 7px solid transparent;
                        border-bottom: 7px solid #eee;
                        border-left: 7px solid transparent;
                        border-bottom-color: rgba(0, 0, 0, 0.2);
                        content: '';
                    }
                    &:after {
                        position: absolute;
                        top: -6px;
                        right: 10px;
                        display: inline-block!important;
                        border-right: 6px solid transparent;
                        border-bottom: 6px solid #fff;
                        border-left: 6px solid transparent;
                        content: '';
                    }
                    >li {
                        >a {
                            color: #555;
                        }
                    }
                }
            }
            >li.dropdown-extended {
                .dropdown-menu {
                    min-width: 160px;
                    max-width: 275px;
                    width: 275px;
                    z-index: $zindex-header-fixed;
                    >li.external {
                        display: block;
                        overflow: hidden;
                        padding: 15px 15px;
                        letter-spacing: 0.5px;
                        border-radius: 4px 4px 0 0;
                        >h3 {
                            margin: 0;
                            padding: 0;
                            float: left;
                            font-size: 13px;
                        }
                        >a {
                            display: inline-block;
                            padding: 0;
                            background: none;
                            clear: inherit;
                            font-size: 13px;
                            font-weight: 300;
                            position: absolute;
                            right: 10px;
                            border: 0;
                            margin-top: -3px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    .dropdown-menu-list {
                        padding-right: 0 !important;
                        padding-left: 0;
                        list-style: none;
                        >li {
                            a {
                                display: block;
                                clear: both;
                                font-weight: 300;
                                line-height: 1.5;
                                white-space: normal;
                                padding: 16px 15px 18px;
                                &:hover {
                                    @include opacity(1);
                                }
                            }
                            &:first-child a {
                                border-top: none;
                            }
                        }
                    }
                }
            }
            // notification
            >li.dropdown-notification {
                .dropdown-menu {
                    .dropdown-menu-list {
                        >li {
                            a {
                                .details {
                                    overflow: hidden;
                                    .label-icon {
                                        margin-right: 10px;
                                        i {
                                            margin-right: 2px;
                                            margin-left: 1px;
                                            width: 1.25em;
                                        }
                                        .badge {
                                            right: 15px;
                                        }
                                    }
                                }
                                .time {
                                    float: right;
                                    max-width: 75px;
                                    font-size: 11px;
                                    font-weight: 400;
                                    @include opacity(0.7);
                                    text-align: right;
                                    padding: 1px 5px;
                                }
                            }
                        }
                    }
                }
            }
            // Tasks
            >li.dropdown-tasks {
                .dropdown-menu {
                    .dropdown-menu-list {
                        >li {
                            .task {
                                margin-bottom: 5px;
                                .desc {
                                    font-size: 13px;
                                    font-weight: 300;
                                }
                                .percent {
                                    float: right;
                                    font-weight: 600;
                                    display: inline-block;
                                }
                            }
                            .progress {
                                display: block;
                                height: 8px;
                                margin: 8px 0 2px;
                                .progress-bar {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
            //user
            >li.dropdown-user {
                .dropdown-toggle {
                    padding: $header-top-menu-user-item-padding;
                    .username {
                        display: inline-block;
                    }
                    >img {
                        width: 29px;
                        height: 29px;
                    }
                }
                .dropdown-menu {
                    width: 175px;
                    >li {
                        >a {
                            font-size: $header-top-menu-user-dropdown-link-font-size;
                            font-weight: $header-top-menu-user-dropdown-link-font-weight;
                            i {
                                width: 15px;
                                display: inline-block;
                                margin-right: 9px;
                            }
                            .badge {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    // menu-toggler
    .menu-toggler {
        display: none;
        cursor: pointer;
        @include opacity(0.7);
        width: $header-menu-toggler-width;
        height: $header-menu-toggler-height;
        &:hover {
            @include opacity(1);
        }
        &.sidebar-toggler {
            float: right;
            margin: $header-sidebar-toggler-margin;
            .page-sidebar-closed.page-sidebar-closed-hide-logo & {
                margin-right: ($sidebar-collapsed-width - $header-menu-toggler-width) / 2;
            }
        }
        &.responsive-toggler {
            // display: none;
            float: right;
            margin: $header-responsive-toggler-margin;
        }
    }
}

// 小于768px的时候
@media (min-width:$screen-sm-min) {
    .page-header.navbar {
        // Search box
        .search-form {
            &.search-form-expanded {
                width: 200px;
                .input-group {
                    .form-control {
                        text-indent: 0;
                        &:hover {
                            cursor: text;
                        }
                    }
                    .input-group-btn {
                        .btn.submit {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

//992
@media(min-width:$screen-md-min) {
    .page-header.navbar {
        .page-logo {
            .page-sidebar-closed.page-sidebar-closed-hide-logo & {
                padding: 0;
            }
            .page-sidebar-closed.page-sidebar-closed-hide-logo & {
                width: $sidebar-collapsed-width;
                .logo-default {
                    display: none;
                }
            }
        }
    }
    // sidebar closed & logo hidden
    .page-sidebar-closed.page-sidebar-closed-hide-logo.page-boxed {
        .page-header.navbar {
            .page-logo {
                width: ($sidebar-collapsed-width+1)
            }
        }
    }
}

//991
@media (max-width: $screen-sm-max) {
    .page-header.navbar {
        padding: 0 20px;
        position: relative;
        clear: both;
        //page logo
        .page-logo {
            width: auto;
            padding: 0;
            margin-right: 10px;
            margin-left: 0!important;
            padding-left: 0!important;
            img {
                margin-left: 4px !important;
            }
        }
        //menu toggler
        .menu-toggler {
            &.sidebar-toggler {
                display: none !important;
            }
            &.responsive-toggler {
                display: inline-block;
            }
        }
        // top menu
        .top-menu {
            .navbar-nav {
                display: inline-block;
                margin: 0 10px 0 0;
                >li {
                    float: left;
                }
                .nav li.dropdown i {
                    display: inline-block;
                    position: relative;
                    top: 1px;
                    right: 0;
                }
                .open .dropdown-menu {
                    position: absolute;
                }
            }
        }
    }
}

// 767px
@media(max-width:$screen-xs-max) {
    // page-header
    .page-header.navbar {
        padding: 0 10px 0 10px;
        .page-logo {
            width: auto;
        }
        .top-menu {
            .navbar-nav {
                >li.dropdown-extended {
                    >.dropdown-menu {
                        max-width: 235px;
                        width: 235px;
                    }
                }
                >li.dropdown-notification {
                    .dropdown-menu {
                        margin-right: -190px;
                        &:after,
                        &:before {
                            margin-right: 190px;
                        }
                    }
                }
                >li.dropdown-tasks {
                    .dropdown-menu {
                        margin-right: -110px;
                        &:after,
                        &:before {
                            margin-right: 110px;
                        }
                    }
                }
            }
        }
    }
}

// 480
@media (max-width:$screen-xs-min) {
    .page-header.navbar {
        .top-menu {
            display: block;
            clear: both;
            .navbar-nav {
                margin-right: 0;
            }
        }
    }
}
